<div class="container" fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxFlex  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="title">
        <mat-icon >settings</mat-icon> 
        <h3>Settings</h3>
    </div>

    <div class="content" fxFlex fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
        <span class="text">Auto Planning Settings</span>
        
        <form [formGroup]="planningForm" (ngSubmit)="submitForm()" fxFlex fxLayout="column" fxLayoutAlign="space-evenly center">

            <div fxFlex fxFlexLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" style="margin:10px">
                <span class="text" *ngIf="!isToggleOn">OFF</span>
                <mat-slide-toggle  [checked]="autoPlanning.value=='ON'" (change)="HandleToggleChange($event)" color="primary"></mat-slide-toggle>
                <span class="text" *ngIf="isToggleOn" >ON</span>
            </div>
           
            <mat-tab-group style="width:80%;" *ngIf="isToggleOn">

                <mat-tab *ngFor="let day of daysOfWeek;" [label]="day.toUpperCase()">
                    
                    <div  [formGroupName]="day" fxFlex fxLayout="column"  fxLayoutGap="20px">
                        <span class="text" style="text-align: center; margin:10px">Select the number of times to run automatically a scheduling for this day.</span>
                        
                        <div fxFlex fxLaoyt ="row-wrap" fxLayotAlign="space-evenly">
                            <mat-form-field appearance="outline">
                                <mat-label>Times</mat-label>
                                <input matInput type="number" formControlName="times" (ngModelChange)="handleChanges(day, [])" />
                            </mat-form-field>
                            <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-evenly center" 
                            *ngIf="displayTimers">
                                <mat-form-field appearence="outline" *ngFor="let control of planningForm.get(day)?.get('array')?.value">
                                  <input matInput type="time" [formControl]="control" required />
                                </mat-form-field>
                              </div>
                        </div>
                        <mat-error *ngIf="planningForm.invalid && planningForm.touched">Invalid entries.Please verify your inputs and try again.</mat-error>
                        <div fxFlex fxLayout ="row" fxLayoutAlign="center center" style="width: 100%;">
                            <button class="button" mat-raised-button color="primary" type="submit" ><mat-icon>save</mat-icon>Save</button>
                            <button class="button" mat-raised-button color="warn" type="reset"  > <mat-icon>refresh</mat-icon> Reset</button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </form>

    </div>

</div>
