
mat-sidenav-container{
    position: relative;
    width:100vw;
    height: 100vh;
}
mat-accordion{
    overflow: hidden;
}

::ng-deep mat-expansion-panel {
    box-shadow: none!important;
  }

@media (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {
    mat-sidenav{
        max-width:95%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    mat-sidenav{
        max-width:60%;
    }
}

@media (min-width: 992px)  {
    mat-sidenav{
        max-width:25%;
    }
}



mat-sidenav{
    overflow: hidden;
}

.side-nav-content{
    position: flex;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
}
.toolbar{
    position:sticky;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.705);
    top:0;
    width:100vw;
    z-index:3;
}
.toolBar-button{
    width: fit-content;
    height: 60px;
    padding: 5px ;
    cursor:pointer;
}
.profile-image{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url("../assets/images/user.png");
    background-size: cover;

}

.profile{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    object-fit: cover;

}
.nav-item{
    width: 20%;
}

.active-link{
   color: rgb(4, 110, 197);
}

.content{
    background-color: rgba(229, 229, 231, 0.925);
    width:inherit;
}

.bar{
    position: sticky;
    left: 0%;
    width: 8px;
    margin-left: -8px;
    height: inherit;
    background-color: rgba(51, 92, 167, 0.884);;
}

.username{
    padding: 0 8px;
}

footer {
    position:relative;
    bottom: 0;
    width: 100vw;
    background:url("../assets/images/SL-030720-28740-05.jpg");
    background-position-y: bottom;
    height: 200px;
    margin-top: 200px;
  }

.title{
    width: 100px;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    z-index: 1;
}

mat-menu{
    padding: 5px 10px;
}

mat-list-item{
    padding: 0px!important;
}
.mat-list-item{
    width:100%;
}
.nav-item{
    margin-left:16px;
    display: flex;
    align-items: center;
    width:100%;
}