<div class="user-form-container" fxFlex fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="10px">
  
  <div fxFlex="30%" fxLayoutAlign="center center">
    <div class="profile-image" >
      <img class="profile" *ngIf="user && user.profile" [src]="user.profile.url" [alt]="user.firstName" />
      <img class="profile" *ngIf="selectedProfileImage" [src]="selectedProfileImage" [alt]="user.firstName" />
      <div class="profile-buttons-div">   
        
        <label class="edit-profile-button" mat-mini-fab color="primary">
          <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none" #fileInput [disabled]="isUsersPage">
          <button  mat-mini-fab color="primary" (click)="fileInput.click()" [disabled]="isUsersPage">
            <mat-icon>edit</mat-icon>
          </button>
        </label>
        
     <button  class="remove-profile-button" (click)="deleteProfile()" mat-mini-fab color="warn"
        [disabled]="!user || !!!user.profile || isUsersPage">
        <mat-icon>delete</mat-icon>
        </button>
      </div>
      <mat-progress-bar *ngIf="uploadProgress$ | async as progress"
                    mode="determinate"
                    [value]="progress"
                    color="primary"></mat-progress-bar>
    </div>
  </div>

    <div fxFlex="70%" fxFlex fxLayout="column" fxLayoutGap="5px" >
      <form [formGroup]="userForm"  (ngSubmit)="saveUser()"  fxFlex fxLayout="row wrap" fxLayoutAlign.lt-md="center center" fxLayout.lt-sm="column" fxLayoutGap="5px">
        
        <mat-form-field appearance="outline" >
          <mat-label>Gender</mat-label>
          <mat-select name="Gender" formControlName="gender"  >
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>First Name</mat-label>
          <input matInput type="text" name="firstName" placeholder="first name" formControlName = "firstName" [readonly]="isUsersPage" >
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>Last Name</mat-label>
          <input matInput type="text" name="lastName" placeholder="last name" formControlName = "lastName" [readonly]="isUsersPage">
        </mat-form-field>
        
        <mat-form-field appearance="outline" >
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" placeholder="email" formControlName = "email" [readonly]="isUsersPage">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" placeholder="password" formControlName = "password" [readonly]="isUsersPage">
        </mat-form-field>

        
        <mat-form-field appearance="outline"  >
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" name="confirm-password" placeholder="confirm password" formControlName = "confirmPassword" [readonly]="isUsersPage">
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>post</mat-label>
          <input matInput type="text" name="post" placeholder="post at Sivo" formControlName = "post" [readonly]="isUsersPage">
        </mat-form-field>
      
        <mat-form-field appearance="outline" *ngIf="!isProfile" >
          <mat-label>Role</mat-label>
          <mat-select formControlName="role" placeholder="Role" [compareWith]="compareRoles">
            <mat-option *ngFor="let role of roleList" [value]="role" 
              matTooltip="{{role.roleDescription}}"
              matTooltipPosition="right"
              matTooltipHideDelay="500"
              >
              {{ role.roleName }}
            </mat-option>
          </mat-select>
        </mat-form-field>      
      
      </form>
      <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
        Invalid email format.
      </mat-error>
      <mat-error *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
       Min password length = 6.
      </mat-error>
      <mat-error *ngIf="userForm.get('confirmPassword')?.invalid && userForm.get('confirmPassword')?.touched">
        No matching with the provided password.
      </mat-error>
      

      <div class="actions" fxFlex fxLayoutAlign="center center" >
        <button class="button" *ngIf="!isUsersPage" mat-raised-button  [disabled]="userForm.invalid" type="submit" (click)="saveUser()" color="primary">{{!user? "Save New User":"Save changes"}}</button>
        <button class="button" *ngIf="!!user && !isUsersPage" mat-raised-button   type="reset" (click)="initializeForm()" color="accent">Reset changes</button>
        <button class="button" *ngIf="isUsersPage" mat-raised-button color="primary" [routerLink]=" user.id+'/edit'">
          <mat-icon> edit</mat-icon>
          Edit User
        </button>
        <button class="button" *ngIf="isUsersPage" mat-raised-button color="warn" (click)="deleteUser()">
          <mat-icon>delete</mat-icon>
          Delete User
        </button>
      </div>
    </div>
</div>
