<div class="form-content" fxFlex fxLayoutAlign="center center" *ngIf="!loading; else content">
    
      <mat-vertical-stepper [linear]="false" #stepper animationDuration="800">
        <mat-step [stepControl]="generalForm">
          <form [formGroup]="generalForm">
            <ng-template matStepLabel>General Informations</ng-template>
              
            <ng-container *ngIf="isUpdate">
                <mat-form-field appearance="outline">
                  <mat-label>N° Order</mat-label>
                  <input   type="number"  matInput placeholder="N° Order" formControlName="numOrder" required [readonly]="isOrdersPage" >
                </mat-form-field>
              </ng-container>
            
              <mat-form-field appearance="outline">
                  <mat-label>Code Order</mat-label>
                  <input  type="text" matInput placeholder="Order Code"  formControlName="codeOrder" required [readonly]="isOrdersPage"  >
              </mat-form-field>
              
              <mat-form-field appearance="outline">
                  <mat-label>Client</mat-label>
                  <input type="text" *ngIf="isOrdersPage" matInput   [value]="generalForm.get('client')?.value?.name" [readonly]="isOrdersPage">
                  <mat-select formControlName="client" *ngIf="!isOrdersPage" >
                    <mat-option (click)="newClient()"><mat-icon>add</mat-icon>New Client</mat-option>
                    <mat-option *ngFor="let client of clientList" [value]="client" >{{client.name}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Resource</mat-label>
                <input type="text" *ngIf="isOrdersPage" matInput   
                [value]="generalForm.get('resource')?.value?.name +' '+generalForm.get('resource')?.value?.type" 
                [readonly]="isOrdersPage">

                <mat-select formControlName="resource" *ngIf="!isOrdersPage"  >
                    <mat-option (click)="newResource()"><mat-icon>add</mat-icon>New Resource</mat-option>
                    <mat-option *ngFor="let resource of resourceList" 
                    [value]="resource" 
                    [matTooltip]="'quantity in stock : '+resource.quantity "
                    matTooltipPosition="after">{{resource.name+" "+resource.type}}</mat-option>
                </mat-select>
              </mat-form-field>
            
              <mat-form-field appearance="outline">
                  <mat-label>Order type</mat-label>
                  <input type="text" *ngIf="isOrdersPage" matInput   
                  [value]="'O'+generalForm.get('type')?.value" [readonly]="isOrdersPage">
                  <mat-select formControlName="type" *ngIf="!isOrdersPage" >
                      <mat-option value="F"> OF</mat-option>
                      <mat-option value="T"> OT</mat-option>
                  </mat-select>
              </mat-form-field>
              <div>
               <button class="button" mat-button matStepperNext>Next</button>
              </div>
          </form>
        </mat-step>
        
        <mat-step [stepControl]="phaseForm" *ngIf="phaseList.length > 0">
          <form [formGroup]="phaseForm">
            <ng-template matStepLabel>Phases Details</ng-template>

            <div *ngIf="phaseList.length > 0">              
              <ng-container   *ngFor="let phase of phaseList">
                <mat-form-field appearance="outline">
                  <mat-label>{{phase.name}}</mat-label>
                  <mat-select [formControlName]="phase.name"  >
                    <mat-option [value]="nullTreatment">None</mat-option>
                    <mat-option *ngFor="let treatment of getTreatmentByPhase(phase)" [value]="treatment">
                      {{treatment.description}}
                    </mat-option>
                    <mat-option (click)="NewTreatment(phase)"><mat-icon>add</mat-icon>New</mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </div>
              
              <div>
                <button class="button" mat-button matStepperPrevious>Back</button>
                <button class="button" mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          
        <mat-step [stepControl]="detailsForm">
          <ng-template matStepLabel>Order Conditions</ng-template>
          <form [formGroup]="detailsForm">
            <mat-form-field appearance="outline" height="30px">
              <mat-label>Due Date</mat-label>
              <div fxFlex fxLayout="row">
                <input matInput  [matDatepicker]="picker" formControlName="dueDate"  [readonly]="isOrdersPage" >
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              </div>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> 

            <mat-form-field appearance="outline">
              <mat-label>Priority</mat-label>
              <input type="text" *ngIf="isOrdersPage" matInput  
              [value]="detailsForm.get('priority')?.value" [readonly]="isOrdersPage">

              <mat-select formControlName="priority" *ngIf="!isOrdersPage">
                <mat-option value="1">
                  <div fxLayout="row" fxLayoutAlign="space-between">
                    <div>Low</div>
                    <div fxLayoutAlign="start center">
                      <mat-icon fontIcon="star_half"></mat-icon>
                      <mat-icon fontIcon="star_border"></mat-icon>
                      <mat-icon fontIcon="star_border"></mat-icon>
                    </div>
                  </div>
                </mat-option>
                <mat-option value="2">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Normal</div>
                    <div fxLayoutAlign="start center">
                      <mat-icon fontIcon="star"></mat-icon>
                      <mat-icon fontIcon="star_border"></mat-icon>
                      <mat-icon fontIcon="star_border"></mat-icon>
                    </div>
                  </div>
                </mat-option>
                <mat-option value="3">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Important</div>
                    <div fxLayoutAlign="start center">
                      <mat-icon fontIcon="star"></mat-icon>
                      <mat-icon fontIcon="star_half"></mat-icon>
                      <mat-icon fontIcon="star_border"></mat-icon>
                  </div>
                </div>
                </mat-option>
                <mat-option value="4">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Very important</div>
                    <div fxLayoutAlign="start center">
                      <mat-icon fontIcon="star"></mat-icon>
                      <mat-icon fontIcon="star"></mat-icon>
                      <mat-icon fontIcon="star"></mat-icon>
                    </div>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>    
            
            <mat-form-field appearance="outline" *ngIf="job?.startDateTime">
              <mat-label>Should start at</mat-label>
              <input type="text"matInput [value]="job.startDateTime | localDateTimeFormat" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="job?.leadTime">
              <mat-label>Duration Estimation</mat-label>
              <input type="text"matInput [value]="job.leadTime | durationFormat" readonly>
            </mat-form-field>
          </form>


          <div>
           <button class="button" mat-button matStepperPrevious>Back</button>
           <button class="button" mat-button (click)="stepper.reset()" *ngIf="!isOrdersPage">Reset</button>
           <button class="button" mat-raised-button color="primary" *ngIf="!isOrdersPage && !isUpdate" (click)="saveOrder()">Save</button>
           <button class="button" mat-raised-button color="primary" *ngIf="!isOrdersPage && isUpdate" (click)="saveOrder()">Save changes</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
      
</div>

<ng-template #content>
  <div class="lottie" fxFlex fxLayoutAlign="center center">
      <app-lottie-animation-view  [iconWidth]="'30vw'" [iconHeight]="'10vh'" [animationPath]="'loading-grey.json'" [loop]="true"></app-lottie-animation-view>
  </div>
</ng-template>
