<div class="container" fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <mat-icon>receipt</mat-icon>
      <h3>Orders Management</h3>
    </div>
  
    <!-- Carousel -->
    <!-- Doughnuts chart -->
    <div class="carousel-container" *ngIf="dueDateRate !== undefined && doneRate !== undefined">
        <div class="carousel" #carousel fxFlex="200vw" fxLayoutGap="40px" fxLayoutAlign="space-between" >
            
            <div fxFlex="100%" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayout.lt-sm="column" >   
                
                <div class="chart-container" fxFlex="400px" fxLayout="column" fxLayoutAlign="start center" >
                    <app-doughnut-chart [rate]="doneRate" [startAnimation]="true"></app-doughnut-chart>
                    <span class="text">Orders Done</span>
                </div>

                <div class="chart-container" fxFlex="400px" fxLayout="column" fxLayoutAlign="start center" >
                    <app-doughnut-chart [rate]="dueDateRate" [startAnimation]="true"></app-doughnut-chart>
                    <span class="text">Orders Done before due date</span>
                </div>
            </div>

            <div class="canvas-container" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">

                <div class="chart-canvas" fxFlex fxLayout="column" fxLayoutAlign="center center">
                    <div fxFlex fxLayoutGap ="15px" style="margin-top: 5px;" fxLayoutAlign="center center">
                        <mat-form-field style="max-width: 20%;">
                            <mat-label>Select Month</mat-label>
                            <mat-select [(ngModel)]="selectedMonth" (selectionChange)="changeLineChart()">
                              <mat-option  value ="Jan" [disabled]="!months.includes('Jan')">Jan</mat-option>
                              <mat-option  value ="Feb" [disabled]="!months.includes('Feb')">Feb</mat-option>
                              <mat-option  value ="Mar" [disabled]="!months.includes('Mar')">Mar</mat-option>
                              <mat-option  value ="Apr" [disabled]="!months.includes('Apr')">Apr</mat-option>
                              <mat-option  value ="May" [disabled]="!months.includes('May')">May</mat-option>
                              <mat-option  value ="Jun" [disabled]="!months.includes('Jun')">Jun</mat-option>
                              <mat-option  value ="Jul" [disabled]="!months.includes('Jul')">Jul</mat-option>
                              <mat-option  value ="Aug" [disabled]="!months.includes('Aug')">Aug</mat-option>
                              <mat-option  value ="Sep" [disabled]="!months.includes('Sept')">Sep</mat-option>
                              <mat-option  value ="Oct" [disabled]="!months.includes('Oct')">Oct</mat-option>
                              <mat-option  value ="Nov" [disabled]="!months.includes('Nov')">Nov</mat-option>
                              <mat-option  value ="Dec" [disabled]="!months.includes('Dec')">Dec</mat-option>
                            </mat-select>
                        </mat-form-field>
                      
                        <mat-form-field style="max-width: 20%;">
                            <mat-label>Select Year</mat-label>
                            <mat-select [(ngModel)]="selectedYear" (selectionChange)="changeLineChart()">
                              <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <canvas #chartCanvas style="max-width: 80%; max-height: 300px;"></canvas>
                    <span class="text" *ngIf="!generating">Orders amount per mounth</span>
                </div>
            
                <ng-template #content>
                    <app-lottie-animation-view  [iconWidth]="'30vw'" [iconHeight]="'10vh'" [animationPath]="'loading-grey.json'" [loop]="true"></app-lottie-animation-view>
                </ng-template>
            </div>
        </div>
       <button class="button" mat-mini-fab class="prev-btn" color="primary" [disabled]="isFirstContent" (click)="slidePrev()"><mat-icon>arrow_back_ios</mat-icon></button>
       <button class="button" mat-mini-fab class="next-btn" color="primary" [disabled]="!isFirstContent" (click)="slideNext()"><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
  

    <div class="orders-container" fxFlex fxLayout="column" fxLayoutGap="10px">
        <h4> All Orders</h4>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" >
            <mat-form-field appearance="fill" style="width:30%">
                <mat-label>Filter</mat-label>
                <input  matInput type="text" width="inherit"  placeholder="Ex : client name " (keyup)="applyFilter($event)" #input>
            </mat-form-field>

            <button  class="button" mat-raised-button color="accent" [disabled]="selection.isEmpty()" [matMenuTriggerFor]="applyMenu">
                Selected orders
                <mat-icon>arrow_right</mat-icon>
            </button>
        
            <!-- Apply Menu -->
            <mat-menu #applyMenu="matMenu">
            <button mat-menu-item (click)="applyAction('Delete')"><mat-icon>delete</mat-icon> Delete</button>
            </mat-menu>
    
            <!-- Select All Button -->
            <button  class="button" mat-raised-button color="primary" (click)="selectAllRows()">{{ selectAllChecked ? 'Deselect All' : 'Select All' }}</button>
           <button class="button"  mat-raised-button color="primary" routerLink="new"> <mat-icon>add</mat-icon>New Order</button>
        </div>
        <ng-container *ngIf="paginatedData.data.length > 0 && state==='ready'; else loading " >    
           
            <table mat-table [dataSource]="paginatedData" multiTemplateDataRows class="mat-elevation-z8">
              
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let task">
                      <mat-checkbox style="align-self: flex-end;"
                      (click)="$event.stopPropagation()"
                      (change)="selectRow($event.checked, task)"
                      [checked]="selection.isSelected(task)"
                      ></mat-checkbox>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="numOrder" >
                    <th mat-header-cell *matHeaderCellDef >N° ORDER</th>
                    <td mat-cell *matCellDef="let job">{{ job.numOrder }} 
                    </ng-container>
                    
                <ng-container matColumnDef="client" >
                    <th mat-header-cell *matHeaderCellDef >CLIENT</th>
                    <td mat-cell *matCellDef="let job" (click)="selectClient(job.client)">{{ job.client.name }} 
                </ng-container>
                        
                <ng-container matColumnDef="createdAt" >
                    <th mat-header-cell *matHeaderCellDef >CREATED DATE</th>
                    <td mat-cell *matCellDef="let job" >{{ job.createdAt | localDateTimeFormat }} 
                </ng-container>
                            
                <ng-container matColumnDef="dueDate" >
                    <th mat-header-cell *matHeaderCellDef >DUE DATE</th>
                    <td mat-cell *matCellDef="let job" >{{ job.dueDate | localDateTimeFormat }} 
                </ng-container>
                
                <ng-container matColumnDef="status" >
                    <th mat-header-cell *matHeaderCellDef >STATUS</th>
                    <td mat-cell *matCellDef="let job" >{{ job.status }} 
                </ng-container>

                  
                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element" fxLayoutGap="5px">
                     <button class="button" mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                      </button>
                     <button class="button" mat-mini-fab color="primary" matTooltip="Modify Order" [routerLink]="element.numOrder+'/edit'"><mat-icon>edit</mat-icon></button>
                     <button class="button" mat-mini-fab color="accent" matTooltip="Delete Order" (click)="deleteOrder(element)"><mat-icon>delete</mat-icon></button>
                    </td>
                  </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsWithExpand.length">
                    <div class="example-element-detail" 
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <app-order-form [job]="element"></app-order-form>
                    </div>
                    </td>
                </ng-container>
                


                <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand" class="header animate-row"></tr>

                <tr mat-row *matRowDef="let element; columns: displayedColumnsWithExpand; let i = index"
                    class="hover-row animate-row example-element-row"
                    [style.animation-delay.ms]="(i+1) * 300"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="toggleExpandRow(element)">
                </tr>


                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

                
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6" style="text-align: center;">
                        {{ input.value ? 'No data matching this filter: ' + input.value : 'No data found.' }}
                      </td>    
                </tr>
                             
                
            </table>
                                
            <mat-paginator 
            [length]="ordersDataSource.data.length"
            [pageSize]="10"
            [pageSizeOptions]="[5,10, 20, 30]"
            (page)="handlePageEvent($event)"
            showFirstLastButtons>
            </mat-paginator>
        </ng-container>
        
        <ng-template #loading>
            <div class="lottie" fxFlex fxLayoutAlign="center center" *ngIf="state==='loading'">
                <app-lottie-animation-view  [iconWidth]="'30vw'" [iconHeight]="'10vh'" [animationPath]="'loading-grey.json'" [loop]="true"></app-lottie-animation-view>
            </div>
            <div *ngIf="state==='error'" class="error">
                <span>Oups! An unexpected error occured. Please contact an Administrator if it persist.</span>
            </div>
        </ng-template>
                        
    </div>
        
</div>