<mat-card>
  <mat-card-title>{{phase.name}}</mat-card-title>
  <mat-card-subtitle>
   <span> Capacity : {{phase.capacity}}</span> 
   <span> Duration : {{phase.duration | durationFormat}}</span> 
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    
    <mat-horizontal-stepper *ngIf="stepperOrientation === 'horizontal'" #stepper>
      <mat-step *ngFor="let timeslot of timeslots" [label]="timeslot.dayOfWeek">
  
        <div  fxFlex fxLayoutAlign="space-evenly center" >

          <mat-checkbox [(ngModel)]="timeslot.enabled" disabled>Schedule</mat-checkbox>
          
          <mat-form-field>
            <mat-label>Start Time</mat-label>
            <input matInput type="time" [value]="timeslot.startTime" readonly />
          </mat-form-field>
          <mat-form-field>
            <mat-label>End Time</mat-label>
            <input matInput  type="time" [value]="timeslot.endTime" readonly />
          </mat-form-field>
        </div>
        </mat-step>    
      </mat-horizontal-stepper>
    
    <mat-vertical-stepper *ngIf="stepperOrientation === 'vertical'" #stepper>
      <mat-step *ngFor="let timeslot of timeslots" [label]="timeslot.dayOfWeek">
  
        <div  fxFlex fxLayoutAlign="space-evenly center" >

          <mat-checkbox [(ngModel)]="timeslot.enabled" disabled>Schedule</mat-checkbox>
          
          <mat-form-field>
            <mat-label>Start Time</mat-label>
            <input matInput type="time" [value]="timeslot.startTime" readonly />
          </mat-form-field>
          <mat-form-field>
            <mat-label>End Time</mat-label>
            <input matInput  type="time" [value]="timeslot.endTime" readonly />
          </mat-form-field>
        </div>
      </mat-step>
    </mat-vertical-stepper>
    
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-actions>
    <button class="button" mat-mini-fab color="primary" [routerLink]="'phases/'+phase.id+'/edit'"><mat-icon>edit</mat-icon></button>
    <button class="button" mat-mini-fab color="warn" (click)="deletePhase()"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>